.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
  vertical-align: middle; 
}

.nopadding{
    padding:3px
}

.table > thead > tr > th {
  border-bottom-width: 0;
  font-size: small;
  font-weight: normal; 
   font-family:Arial;
   font-weight:bold;
}

a:active, a:focus {
    outline: none
}

.completed-task-title{
    color:forestgreen;
}
.pending-task-title {
    color: coral;
}
.incomplete-task-title {
    color: brown;
}
.task-details {
    color: forestgreen;
}
.task-notes{
    color: brown;
}
.compactdiv{
    margin:0px;
    padding:0px;
}

.rightpanel{
    background-color: #c9f0f9;
}

